anchor-color = #0086b3
anchor-hover-color = #006080
anchor-backgroundColor = #fff


a
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten(anchor-color,20%) 50%);
  background-position: 0 93%;
  background-repeat: repeat-x;
  background-size: 100% 0.15rem;
  text-shadow: 0.1rem 0 anchor-backgroundColor,0.15rem 0 anchor-backgroundColor,-0.1rem 0 anchor-backgroundColor,-0.15rem 0 anchor-backgroundColor;

a:hover,
a:active,
a:focus
  background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%,lighten(anchor-hover-color,20%) 50%);
