html
  min-height: 100%
  size-adjust: 100%
  osx-font-smoothing: grayscale
  font-smoothing: antialiased
  font-feature-settings:"liga" on


[lang="ja"] body
  font-family: 'Noto Sans Japanese', 'Lato', sans-serif,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3'

[lang="en"] body
  font-family: 'Lato', 'Noto Sans Japanese', sans-serif,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3'
