/*------------------------------------*\
    $BUTTON
\*------------------------------------*/





/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 *
  <button am-button>Button</div>
 *
 */
[am-button]
  display: inline-block;
  font-family: inherit
  position: relative
  cursor: pointer
  text-decoration: none
  white-space: nowrap
  vertical-align: middle
  margin: 0
  padding: 9px 15px
  border-radius: brand-round
  user-select: none
  appearance: none
  border: none
  box-shadow: none
  font-size: 11px
  letter-spacing: .1em

[am-button]
  &,
  &:hover
    text-decoration: none
  &:active,
  &:focus
    outline:none





/*------------------------------------*\
    #SOLID
\*------------------------------------*/
/**
 *
  <button am-button='solid'>Solid Button</button>
 */
[am-button~="solid"]
  background: #fff
  border: 1px solid brand-color
  color: brand-color
  transition: background, color, animation-duration animation-timing-function
  &:hover
    background: brand-color
    color: #fff





/*------------------------------------*\
    #FILL
\*------------------------------------*/
/**
 *
  <button am-button='fill'>Solid Button</button>
 */
[am-button~="fill"]
  background: brand-color
  border: 1px solid brand-color
  color: #fff
  transition: opacity animation-duration animation-timing-function;
  &:hover
    opacity: .7





/*------------------------------------*\
    #FUNCTION
\*------------------------------------*/
/**
 * Solid
 *
  <button am-butto="default:solid">Default</button>
  <button am-butto="primary:solid">Primary</button>
  <button am-butto="success:solid">Success</button>
  <button am-butto="danger:solid">Success</button>
 *
 */
/**
 * Default
 */
[am-button~="default:solid"]
  @extend [am-button~="solid"]
  color: color-default
  border: 1px solid color-default-border
  &:hover
    background: color-default


/**
 * Success
 */
[am-button~="success:solid"]
  @extend [am-button~="solid"]
  color: color-success
  border: 1px solid color-success-border
  &:hover
    background: color-success

/**
 * Warning
 */
[am-button~="warning:solid"]
  @extend [am-button~="solid"]
  color: color-warning
  border: 1px solid color-warning-border
  &:hover
    background: color-warning


/**
 * Danger
 */
[am-button~="danger:solid"]
  @extend [am-button~="solid"]
  color: color-danger
  border: 1px solid color-danger-border
  &:hover
    background: color-danger


/**
 * Fill
 *
  <button am-butto="default:fill">Default</button>
  <button am-butto="primary:fill">Primary</button>
  <button am-butto="success:fill">Success</button>
  <button am-butto="danger:fill">Success</button>
 *
 */
/**
 * Default
 */
[am-button~="default:fill"]
  @extend [am-button~="fill"]
  background: color-default
  border: 1px solid color-default-border


/**
 * Success
 */
[am-button~="success:fill"]
  @extend [am-button~="fill"]
  background: color-success
  border: 1px solid color-success-border


/**
 * Warning
 */
[am-button~="warning:fill"]
  @extend [am-button~="fill"]
  background: color-warning
  border: 1px solid color-warning-border


/**
 * Danger
 */
[am-button~="danger:fill"]
  @extend [am-button~="fill"]
  background: color-danger
  border: 1px solid color-danger-border





/*------------------------------------*\
    #STYLE
\*------------------------------------*/
/**
 * Soft
 *
  <button am-button="soft">Button</button>
 */
[am-button~="soft"]
  border-radius: 200px


/**
 * Hard
 *
  <button am-button="hard">Button</button>
 */
[am-button~="hard"]
  border-radius: 0





/*------------------------------------*\
    #SIZING
\*------------------------------------*/
[am-button~="large"]
  padding: 10px 16px;

[am-button~="small"]
  padding: 5px 10px;
