/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 *
  <pre>
    <code am-code></code>
  </pre>
 */
[am-code]
  overflow-x: hidden
  overflow-y: auto
  padding: 16px
  display: block
  font-size: font-x-small
  color: code-color
  background: code-background
  border-radius: brand-round
