/*------------------------------------*\
    $DIAGNOSTIC
\*------------------------------------*/
/**
 * Diagnostic is to find bad markup in terms of
 * accessabiity. Some code were borrowed or inspired
 * by very good CSS below:
 *
 * http://meyerweb.com/eric/tools/css/diagnostics/
 * https://github.com/diagnosticss/diagnosticss
 * https://github.com/Heydon/REVENGE.CSS
 *
 */
