/*doc
---
title: Layout
name: Dashboard Layout
category: layouts
---


```html_example
<div am-layout-container>
  <aside am-layout-aside>Aside</aside>
  <main am-layout-main>Main</main>
</div>
```

*/
layout-aside-width = 200px

[am-layout-container]
  position: relative
  height: 100%
  top: 0
  left: 0


[am-layout-aside]
  width: layout-aside-width
  background-color: indigo
  padding: 17px 0
  position: absolue
  z-index: 10
  top: 0
  left: 0
  bottom: 0
  min-height: 100%


[am-layout-main]
  overflow: auto
  height: 100%
  max-height: 100%
  z-index: 20
  position: relative
  background: white
  margin-left: layout-aside-width
