/*------------------------------------*\
    $PAGINATION
\*------------------------------------*/
/**
 *
 *
  <ul am-pagination>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
  </ul>
 *
 * Thanks to csswizardry.com/2011/09/the-nav-abstraction
 */
[am-pagination]
  // pagination navigation
  list-style: none
  margin-left: 0
  > li
    &,
      > a
        display: inline-block
        *display: inline
        zoom: 1

  // pagination
  > li
    margin-right: 5px
    > a
      padding: 6px 12px
      border-radius: brand-round
      border: 1px solid #ddd
      color: black
      transition: background, color, border-color, animation-duration animation-timing-function
      &:hover
        background: brand-color
        color: #fff
        border-color: #ddd

  // pagination active
  li.active a
    background: brand-color
    color: #fff
    border-color: #ddd
