/**
 * Base Toggle Switch
 *
  <div am-switch>
    <input am-toggle id='cb' type='checkbox'>
    <label am-toggle-btn for='cb'></label>
  </div>
 *
 * Thanks to http://codepen.io/mallendeo/pen/eLIiG
 */
[am-switch]
  [am-toggle]
    display: none


  [am-toggle],
  [am-toggle]:after,
  [am-toggle]:before,
  [am-toggle] *,
  [am-toggle] *:after,
  [am-toggle] *:before,
  [am-toggle] + [am-toggle-btn]
    box-sizing: border-box


  [am-toggle]::selection,
  [am-toggle]:after::selection,
  [am-toggle]:before::selection,
  [am-toggle] *::selection,
  [am-toggle] *:after::selection,
  [am-toggle] *:before::selection,
  [am-toggle] + [am-toggle-btn]::selection
    background: none


  [am-toggle] + [am-toggle-btn]
    outline: 0
    display: block
    width: 4em
    height: 2em
    position: relative
    cursor: pointer
    user-select: none

    background: #fbfbfb
    padding: 2px
    transition: all .4s ease
    border: 1px solid #e8eae9

  [am-toggle] + [am-toggle-btn]:after,
  [am-toggle] + [am-toggle-btn]:before
    position: relative
    display: block
    content: ""
    width: 50%
    height: 100%

  [am-toggle] + [am-toggle-btn]:after
    left: 0

  [am-toggle] + [am-toggle-btn]:before
    display: none

  [am-toggle]:checked + [am-toggle-btn]:after
    left: 50%

  [am-toggle] + [am-toggle-btn]:after
    background: #fbfbfb
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08)

  [am-toggle] + [am-toggle-btn]:active
    box-shadow: inset 0 0 0 2em #e8eae9

  [am-toggle] + [am-toggle-btn]:active:after
    padding-right: .8em

  [am-toggle]:checked + [am-toggle-btn]
    background: #86d993

  [am-toggle]:checked + [am-toggle-btn]:active
    box-shadow: none;

  [am-toggle]:checked + [am-toggle-btn]:active:after
    margin-left: -.8em



/**
 * Round Toggle Switch
 *
  <div am-switch="round">
    <input am-toggle id='cb' type='checkbox'>
    <label am-toggle for='cb'></label>
  </div>
 *
 * Thanks to http://codepen.io/mallendeo/pen/eLIiG
 */
[am-switch~="round"]
  [am-toggle] + [am-toggle-btn],
  [am-toggle] + [am-toggle-btn]:after
    border-radius: 2em
