[am-tabs]
  border-bottom: 1px solid #ddd
  font-size: 0

[am-tab]
  font-size: 16px
  margin-bottom: -1px
  display: inline-block
  vertical-aling: baseline
  border-right: 1px solid #ddd
  padding: 10px 15px
  color: #83868b
  cursor: pointer
  transition: all .1s cubic-bezier(.645,.045,.355,1)

[am-tab]:hover
  box-shadow: inset 0 4px #eca934
  color: #3b372f
  background: #eee

[am-tab~="active"]
  box-shadow: inset 0 4px brand-color
  border-color: #8d9094
  background: #fff
  color: #3b372f


