/*doc
---
title: Tables
name: Base Table
category: table
---

```html_example
<table am-table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
```

*/
[am-table]
  width: 100%
  th
  td
    padding: 12px

  thead tr
    text-align: left
    border-bottom: 2px solid brand-color

  tbody tr
    border-bottom: 1px solid #ccc
