/*doc
---
title: Tables
name: Base Table
category: table
---

```html_example
<table am-table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
```

*/
[am-table]
  width: 100%
  background: #fff

  th,
  td
    padding: 10px

  th
    font-weight: bold
    letter-spacing: .1em
    margin: 0

  td
    border-top: 1px solid #DDD

  tbody tr:nth-child(odd)
    background: #F6F6F6
