/**
 * Brand settings
 */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css)
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)


/**
 * Brand
 */
brand-round = 3px
brand-color = #d69330
brand-font  = 'Lato',"Noto Sans Japanese",sans-serif,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3'


/**
 * Color
 */
grey       = #EFF1F2
red        = #e94d32
blue       = #538EC2
indigo     = #34404c
white      = #fff



