@charset "UTF-8"
/*------------------------------------*\
    bdash.styl
\*------------------------------------*/
/*!*
 *
 * SIROK, Inc. - http://sirok.co.jp/
 *
 */
/**
 * bdash is CSS toolkit of SIROK, Inc.
 * It is very inspired by Primer by GitHub.
 * It aims to make our development be fast and maintanable.
 *
 * LICENSE
 *
 * MIT © SIROK, Inc.
 */


/**
 * Please consider the specification of CSS. These stylus files are imported
 * on the basis of ITCSS so specifiency order is incresing.
 * Please see each section description.
 *
 * 1. settings ... Global variables, config switches
 * 2. tools ...... Default mixins and functions
 * 3. generic .... Ground-zero style ( Normalize.css )
 * 4. base ....... Unclassed HTML element
 * 5. elements ... Objects and Components
 * 6. trumps ..... Overrides
 */


/**
 * Settings
 */
@import "_variables"


/**
 * Tools
 */
@import "_mixins"


/**
 * Generic
 */
@import "_sanitize"


/**
 * Base
 */
@import "_base"


/**
 * Elements
 */
@import "_buttons"
@import "_table"
@import "_tabnav"
@import "_dashboard"
@import "_code"
@import "_pagination"

/**
 * Trumps
 */
@import "_trump"
