/* border: 1px solid #e0e8ef; */
/* background: #f1f4f8 */
/* color: */

/**
 * Base
 */
body {
  font-size: 14px;
  color: #44525a;
  line-height: 1.5;
  background: #F1F4F8;
}


/**
 * Aside
 */
aside {
  background: #F1F4F8;
  border-right: 1px solid #e0e8ef;
}

/**
 * Main
 */
main {
  background: #fff;
}


/**
 * Aside & Main Header
 */
.aside__header,
.main__header,
.main__footer {
  background: #fff;
  padding: 10px 30px;
  height: 42px;
}

.aside__header,
.main__header { border-bottom: 1px solid #e0e8ef; }
.main__footer { border-top:    1px solid #e0e8ef; }

.main__content{ padding: 10px 30px; }


/**
 * Social buttons
 */
.main__header__social {
  list-style-type: none;
  float: right;
  position: relative;
  right: -15px;
  top: 1px;
}
.main__header__social li {
  display: inline-block;
}


/**
 *
 */
.main__footer__sitemap {
  list-style-type: none;
}
.main__footer__sitemap li {
  display: inline-block;
  margin-right: 10px;
}



aside h1 {
  font-size: 15px;
  font-weight: bold;
}

aside nav a {
  display: block;
  background: none;
  text-decoration: none;
  padding: 5px 0;
}

aside nav a:hover {text-decoration: underline;}


/**
 * Elements
 */
.element__title {
  padding: 0 0 10px;
  font-size: 50px;
  margin: 70px 0 30px;
  font-weight: 200;
  border-bottom: 1px solid #e0e8ef;
}

.element-example__title {
  font-size: 18px;
  margin: 20px 0 10px;
}

.code-example {
  border: 1px solid #e0e8ef;
  border-radius: 3px;
  margin: 10px 0 50px;
}

.code-example:before {
  content: "Example";
  border-bottom-right-radius: 3px;
  border: 1px solid #e0e8ef;
  background: #f1f4f8;
  position: relative;
  width: 60px;
  top: -1px;
  left: -1px;
  padding: 2px;
  letter-spacing: .5px;
  color: #797979;
  font-weight: 300;
  font-size: 13px;
}

.code-example__output {
  border-bottom: 1px solid #e0e8ef;
  padding: 16px;
}

.chrome .code-example__block {
  position: relative;
}
.chrome .code-example__block:after {
  content: "Copy";
  border-bottom-left-radius: 3px;
  border: 1px solid #e0e8ef;
  background: #fff;
  position: absolute;
  width: 46px;
  top: -1px;
  right: -1px;
  padding: 3px 6px;
  letter-spacing: .5px;
  color: #797979;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}

.code-example__block code {
  background: #f1f4f8;
  padding: 16px;
  font-size: 14px;
}

