/*------------------------------------*\
    $TEMPLATE
\*------------------------------------*/





/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf:after {
  content: "";
  display: table;
  clear: both;
}





/*------------------------------------*\
    #BASE
\*------------------------------------*/
body {
  font-size: 16px;
  color: #44525a;
  line-height: 1.5;
  background: #DDE0E6;
}





/*------------------------------------*\
    #WRAPPER
\*------------------------------------*/
.wrapper {
  margin: 0 auto
}





/*------------------------------------*\
    #ASIDE
\*------------------------------------*/
aside {
  background: #F1F4F8;
  border-right: 1px solid #e0e8ef;
}

.aside__header {
  color: black;
  font-size: 32px;
  padding: 0 20px;
}

.aside__header span {
  color: #AEAEAE;
  position: relative;
  top: -30px;
  font-size: 11px;
}

/* Content */
.aside__content {
  padding: 20px;
}

.aside__navigation h3 {
  padding: 5px 0px 5px 20px;
  font-size: 16px;
  font-weight: 200;
  color: #666;
}

.aside__navigation {
  overflow-y: scroll;
  height: 500px;
}
.aside__navigation li a {
  display: block;
  padding: 3px 48px 3px 20px;
  color: #AEAEAE;
  font-weight: 200;
}

.aside__navigation li a:hover {
  color: rgba(0,0,0,.8);
  background: #71a6f6;
  color: #fff;
  border-radius: .25em;
}





/*------------------------------------*\
    #MAIN
\*------------------------------------*/
main {

}

/* Header */
.main__header {
  padding: 20px 20px;
  background: #fff;
  border-bottom: 1px solid #e0e8ef;
  transform: translateZ(0);
  transition: transform .4s;
}

.main__header .header__menu {
  float: left
}

.main__header [am-menu-hamburger] {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.main__header [am-menu-hamburger] span {
  top: 50%;
  left: 50%;
  margin-left: -9px;
}

.main__header .header__github {
  float: right;
}

.main__header .header__github a {
  color: #AEAEAE;
}

.main__header .header__github a:hover {
  color: black;
}

.main__header .octicon-mark-github {
  position: relative;
  margin-right: 3px;
  top: -2px;
}

/* Content */
.main__content{
  background: #fff;
  padding: 50px 20px 20px;
  max-width: 1000px;
  overflow-x: hidden;
}



/**
 * Aside & Main Header
 */
.aside__header h1 a {
  margin-top: 10px;
  display: block;
  color: #fff;
}

.main__footer {
  border-top:    1px solid #DADADA;
  padding: 20px 20px 30px;
  background: #fff;
}

.main__footer__sitemap {
  list-style-type: none;
}

.main__footer__sitemap li {
  display: inline-block;
  margin-right: 10px;
}





/*------------------------------------*\
    #SCROLL
\*------------------------------------*/
main::-webkit-scrollbar {
    width: 5px;
}

main::-webkit-scrollbar-track {
  background: #fff;
}

main::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #acafb2;
}





/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/
.element__title {
  padding: 0 0 10px;
  font-size: 50px;
  margin: 0px 0 30px;
  font-weight: 200;
  border-bottom: 1px solid #e0e8ef;
}

.element-example__title {
  font-size: 18px;
  margin: 20px 0 10px;
}

.code-example {
  border: 1px solid #e0e8ef;
  border-radius: 3px;
  margin: 10px 0 50px;
}

.code-example:before {
  content: "Example";
  border-bottom-right-radius: 3px;
  border: 1px solid #e0e8ef;
  background: #f1f4f8;
  position: relative;
  width: 60px;
  top: -3px;
  left: -1px;
  padding: 2px;
  letter-spacing: .5px;
  color: #797979;
  font-weight: 300;
  font-size: 13px;
}

.code-example__output {
  border-bottom: 1px solid #e0e8ef;
  padding: 16px;
}

.chrome .code-example__block {
  position: relative;
}
.chrome .code-example__block:after {
  content: "Copy";
  border-bottom-left-radius: 3px;
  border: 1px solid #e0e8ef;
  background: #fff;
  position: absolute;
  width: 46px;
  top: -1px;
  right: -1px;
  padding: 3px 6px;
  letter-spacing: .5px;
  color: #797979;
  font-weight: 300;
  font-size: 13px;
  cursor: pointer;
}

.code-example__block code {
  background: #f1f4f8;
  padding: 16px;
  font-size: 14px;
}



@media (max-width: 991px) {
  .main__header {
    padding: 15px 20px !important
  }
}
